<a href="https://colab.research.google.com/github/Puneet289/Employee-attrition/blob/master/Employeeattrition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!wget 'https://he-s3.s3.amazonaws.com/media/hackathon/hackerearth-test-draft-1-106/predict-the-employee-attrition-rate-in-organizations-1d700a97/3f488f10aa3d11ea.zip?Signature=kZ%2B92lZEkSaFdH3haH45qHRNzUg%3D&Expires=1593422830&AWSAccessKeyId=AKIA6I2ISGOYH7WWS3G5'

--2020-07-28 09:10:16--  https://he-s3.s3.amazonaws.com/media/hackathon/hackerearth-test-draft-1-106/predict-the-employee-attrition-rate-in-organizations-1d700a97/3f488f10aa3d11ea.zip?Signature=kZ%2B92lZEkSaFdH3haH45qHRNzUg%3D&Expires=1593422830&AWSAccessKeyId=AKIA6I2ISGOYH7WWS3G5
Resolving he-s3.s3.amazonaws.com (he-s3.s3.amazonaws.com)... 52.219.132.244
Connecting to he-s3.s3.amazonaws.com (he-s3.s3.amazonaws.com)|52.219.132.244|:443... connected.
HTTP request sent, awaiting response... 403 Forbidden
2020-07-28 09:10:17 ERROR 403: Forbidden.

In [ ]:
!unzip '/content/3f488f10aa3d11ea.zip?Signature=kZ+92lZEkSaFdH3haH45qHRNzUg=&Expires=1593422830&AWSAccessKeyId=AKIA6I2ISGOYH7WWS3G5'

unzip:  cannot find or open /content/3f488f10aa3d11ea.zip?Signature=kZ+92lZEkSaFdH3haH45qHRNzUg=&Expires=1593422830&AWSAccessKeyId=AKIA6I2ISGOYH7WWS3G5, /content/3f488f10aa3d11ea.zip?Signature=kZ+92lZEkSaFdH3haH45qHRNzUg=&Expires=1593422830&AWSAccessKeyId=AKIA6I2ISGOYH7WWS3G5.zip or /content/3f488f10aa3d11ea.zip?Signature=kZ+92lZEkSaFdH3haH45qHRNzUg=&Expires=1593422830&AWSAccessKeyId=AKIA6I2ISGOYH7WWS3G5.ZIP.

No zipfiles found.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
train=pd.read_csv('/content/Dataset/Train.csv')

In [ ]:
test=pd.read_csv('/content/Dataset/Test.csv')

In [ ]:
train.head()

  Employee_ID Gender   Age  Education_Level  ... VAR5 VAR6 VAR7 Attrition_rate
0   EID_23371      F  42.0                4  ...    4    5    3         0.1841
1   EID_18000      M  24.0                3  ...    3    5    3         0.0670
2    EID_3891      F  58.0                3  ...    3    8    3         0.0851
3   EID_17492      F  26.0                3  ...    3    7    3         0.0668
4   EID_22534      F  31.0                1  ...    2    8    2         0.1827

[5 rows x 24 columns]

In [ ]:
test.head()

  Employee_ID Gender   Age  Education_Level  ... VAR4 VAR5 VAR6 VAR7
0   EID_22713      F  32.0                5  ...  2.0    1    8    4
1    EID_9658      M  65.0                2  ...  1.0    2    8    2
2   EID_22203      M  52.0                3  ...  2.0    1    9    3
3    EID_7652      M  50.0                5  ...  2.0    2    8    3
4    EID_6516      F  44.0                3  ...  2.0    2    7    4

[5 rows x 23 columns]

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7000 entries, 0 to 6999
Data columns (total 39 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Employee_ID                7000 non-null   object
 1   Age                        7000 non-null   float64
 2   Education_Level            7000 non-null   int64
 3   Time_of_service            7000 non-null   float64
 4   Time_since_promotion       7000 non-null   int64
 5   growth_rate                7000 non-null   int64
 6   Travel_Rate                7000 non-null   int64
 7   Post_Level                 7000 non-null   int64
 8   Pay_Scale                  7000 non-null   float64
 9   Compensation_and_Benefits  7000 non-null   int64
 10  Work_Life_balance          7000 non-null   float64
 11  VAR1                       7000 non-null   int64
 12  VAR2                       7000 non-null   float64
 13  VAR3                       7000 non-null   float64
 14  VAR4                       7000 non-null   float64
 15  VAR5                       7000 non-null   int64
 16  VAR6                       7000 non-null   int64
 17  VAR7                       7000 non-null   int64
 18  Attrition_rate             7000 non-null   float64
 19  M                          7000 non-null   uint8
 20  Single                     7000 non-null   uint8
 21  Franklin                   7000 non-null   uint8
 22  Lebanon                    7000 non-null   uint8
 23  Springfield                7000 non-null   uint8
 24  Washington                 7000 non-null   uint8
 25  Human Resource Management  7000 non-null   uint8
 26  IT                         7000 non-null   uint8
 27  Logistics                  7000 non-null   uint8
 28  Marketing                  7000 non-null   uint8
 29  Operarions                 7000 non-null   uint8
 30  Production                 7000 non-null   uint8
 31  Purchasing                 7000 non-null   uint8
 32  Quality                    7000 non-null   uint8
 33  R&D                        7000 non-null   uint8
 34  Sales                      7000 non-null   uint8
 35  Security                   7000 non-null   uint8
 36  Behavioral                 7000 non-null   uint8
 37  Conceptual                 7000 non-null   uint8
 38  Directive                  7000 non-null   uint8
dtypes: float64(8), int64(10), object(1), uint8(20)
memory usage: 1.1+ MB

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Employee_ID                3000 non-null   object
 1   Gender                     3000 non-null   object
 2   Age                        2839 non-null   float64
 3   Education_Level            3000 non-null   int64
 4   Relationship_Status        3000 non-null   object
 5   Hometown                   3000 non-null   object
 6   Unit                       3000 non-null   object
 7   Decision_skill_possess     3000 non-null   object
 8   Time_of_service            2948 non-null   float64
 9   Time_since_promotion       3000 non-null   int64
 10  growth_rate                3000 non-null   int64
 11  Travel_Rate                3000 non-null   int64
 12  Post_Level                 3000 non-null   int64
 13  Pay_Scale                  2997 non-null   float64
 14  Compensation_and_Benefits  3000 non-null   object
 15  Work_Life_balance          2995 non-null   float64
 16  VAR1                       3000 non-null   int64
 17  VAR2                       2783 non-null   float64
 18  VAR3                       3000 non-null   float64
 19  VAR4                       2702 non-null   float64
 20  VAR5                       3000 non-null   int64
 21  VAR6                       3000 non-null   int64
 22  VAR7                       3000 non-null   int64
dtypes: float64(7), int64(9), object(7)
memory usage: 539.2+ KB

In [ ]:
train['Age'].fillna(22.0,inplace=True)
test['Age'].fillna(22.0,inplace=True)

In [ ]:
train['Time_of_service'].fillna(6.0,inplace=True)
test['Time_of_service'].fillna(3.0,inplace=True)

In [ ]:
train['VAR2'].fillna(0.7516,inplace=True)
test['VAR2'].fillna(0.7516,inplace=True)

In [ ]:
train['VAR4'].fillna(2.0,inplace=True)
test['VAR4'].fillna(2.0,inplace=True)

In [ ]:
train['Pay_Scale'].fillna(8.0,inplace=True)
test['Pay_Scale'].fillna(8.0,inplace=True)

In [ ]:
train['Work_Life_balance'].fillna(1.0,inplace=True)
test['Work_Life_balance'].fillna(1.0,inplace=True)

In [ ]:
test['Work_Life_balance'].value_counts()

1.0    914
3.0    835
2.0    672
4.0    522
5.0     57
Name: Work_Life_balance, dtype: int64

In [ ]:
train.head()

  Employee_ID Gender   Age  Education_Level  ... VAR5 VAR6 VAR7 Attrition_rate
0   EID_23371      F  42.0                4  ...    4    5    3         0.1841
1   EID_18000      M  24.0                3  ...    3    5    3         0.0670
2    EID_3891      F  58.0                3  ...    3    8    3         0.0851
3   EID_17492      F  26.0                3  ...    3    7    3         0.0668
4   EID_22534      F  31.0                1  ...    2    8    2         0.1827

[5 rows x 24 columns]

In [ ]:
test.head()

  Employee_ID Gender   Age  Education_Level  ... VAR4 VAR5 VAR6 VAR7
0   EID_22713      F  32.0                5  ...  2.0    1    8    4
1    EID_9658      M  65.0                2  ...  1.0    2    8    2
2   EID_22203      M  52.0                3  ...  2.0    1    9    3
3    EID_7652      M  50.0                5  ...  2.0    2    8    3
4    EID_6516      F  44.0                3  ...  2.0    2    7    4

[5 rows x 23 columns]

In [ ]:
gender=pd.get_dummies(train['Gender'],drop_first=True)

In [ ]:
test_gender=pd.get_dummies(test['Gender'],drop_first=True)

In [ ]:
train=pd.concat([train,gender],axis=1)

In [ ]:
test=pd.concat([test,test_gender],axis=1)

In [ ]:
train.drop('Gender',axis=1,inplace=True)

In [ ]:
test.drop('Gender',axis=1,inplace=True)

In [ ]:
relstat=pd.get_dummies(train['Relationship_Status'],drop_first=True)

In [ ]:
test_relstat=pd.get_dummies(test['Relationship_Status'],drop_first=True)

In [ ]:
train=pd.concat([train,relstat],axis=1)

In [ ]:
test=pd.concat([test,test_relstat],axis=1)

In [ ]:
train.drop('Relationship_Status',axis=1,inplace=True)

In [ ]:
test.drop('Relationship_Status',axis=1,inplace=True)

In [ ]:
train['Unit'].value_counts()

IT                           1394
Logistics                    1173
Sales                         943
Operarions                    706
R&D                           680
Purchasing                    504
Accounting and Finance        496
Human Resource Management     344
Marketing                     212
Production                    211
Quality                       193
Security                      144
Name: Unit, dtype: int64

In [ ]:
hometown=pd.get_dummies(train['Hometown'],drop_first=True)

In [ ]:
test_hometown=pd.get_dummies(test['Hometown'],drop_first=True)

In [ ]:
train=pd.concat([train,hometown],axis=1)

In [ ]:
test=pd.concat([test,test_hometown],axis=1)

In [ ]:
train.drop('Hometown',axis=1,inplace=True)

In [ ]:
test.drop('Hometown',axis=1,inplace=True)

In [ ]:
unit=pd.get_dummies(train['Unit'],drop_first=True)

In [ ]:
test_unit=pd.get_dummies(test['Unit'],drop_first=True)

In [ ]:
train=pd.concat([train,unit],axis=1)

In [ ]:
test=pd.concat([test,test_unit],axis=1)

In [ ]:
train.drop('Unit',axis=1,inplace=True)

In [ ]:
test.drop('Unit',axis=1,inplace=True)

In [ ]:
cleanup={"Compensation_and_Benefits":{'type0':0,
       'type1':1,
       'type2':2,
       'type3':3,
       'type4':4,
       }}

In [ ]:
test_cleanup={"Compensation_and_Benefits":{'type0':0,
       'type1':1,
       'type2':2,
       'type3':3,
       'type4':4,
       }}

In [ ]:
train.replace(cleanup,inplace=True)

In [ ]:
test.replace(test_cleanup,inplace=True)

In [ ]:
deciskill=pd.get_dummies(train['Decision_skill_possess'],drop_first=True)

In [ ]:
test_deciskill=pd.get_dummies(test['Decision_skill_possess'],drop_first=True)

In [ ]:
train=pd.concat([train,deciskill],axis=1)

In [ ]:
test=pd.concat([test,test_deciskill],axis=1)

In [ ]:
train.drop('Decision_skill_possess',axis=1,inplace=True)

In [ ]:
test.drop('Decision_skill_possess',axis=1,inplace=True)

In [ ]:
train.columns

Index(['Employee_ID', 'Age', 'Education_Level', 'Time_of_service',
       'Time_since_promotion', 'growth_rate', 'Travel_Rate', 'Post_Level',
       'Pay_Scale', 'Compensation_and_Benefits', 'Work_Life_balance', 'VAR1',
       'VAR2', 'VAR3', 'VAR4', 'VAR5', 'VAR6', 'VAR7', 'Attrition_rate', 'M',
       'Single', 'Franklin', 'Lebanon', 'Springfield', 'Washington',
       'Human Resource Management', 'IT', 'Logistics', 'Marketing',
       'Operarions', 'Production', 'Purchasing', 'Quality', 'R&D', 'Sales',
       'Security', 'Behavioral', 'Conceptual', 'Directive'],
      dtype='object')

In [ ]:
#train.corr()

In [ ]:
X=train.drop(['Employee_ID','Attrition_rate','Single','M','Travel_Rate','Franklin','Lebanon','Springfield','Washington','Work_Life_balance','Education_Level','Human Resource Management', 'IT', 'Logistics', 'Marketing',
       'Operarions', 'Production', 'Purchasing', 'Quality', 'R&D', 'Sales','Security', 'Behavioral', 'Conceptual', 'Directive','Compensation_and_Benefits','Post_Level','Education_Level','VAR1','VAR2','VAR3','VAR5','VAR6','VAR7','Age'],axis=1)

In [ ]:
#X

In [ ]:
y=train['Attrition_rate']

In [ ]:
from sklearn.model_selection import train_test_split,RandomizedSearchCV

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=101)

In [ ]:
from sklearn.linear_model import LinearRegression,RidgeCV,ElasticNetCV,HuberRegressor
from sklearn.tree import DecisionTreeRegressor,ExtraTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor,BaggingRegressor,VotingRegressor,GradientBoostingRegressor,StackingRegressor
from sklearn.svm import SVR
import xgboost as xgb,lightgbm as lgb
from sklearn.model_selection import KFold

In [ ]:
train ['Time_of_service'].nunique

<bound method IndexOpsMixin.nunique of 0        4.0
1        5.0
2       27.0
3        4.0
4        5.0
        ...
6995     4.0
6996    16.0
6997    10.0
6998    24.0
6999    22.0
Name: Time_of_service, Length: 7000, dtype: float64>

In [ ]:
from sklearn.metrics import mean_squared_error

#LINEAR REGRESSION

In [ ]:
linreg=LinearRegression()

In [ ]:
linreg.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
y_pred=linreg.predict(X_test)

In [ ]:
mse=mean_squared_error(y_test,y_pred)

In [ ]:
rmse=np.sqrt(mse)

In [ ]:
rmse

0.1774200144770774

In [ ]:
score=max(0,1-rmse)

In [ ]:
score

0.8225799855229226

#K FOLD

In [ ]:
accuracy=[]
i=0

kf=KFold(3,random_state=None)
kf.get_n_splits(X,y)

for train_index,test_index in kf.split(X,y):
  print('Train:',train_index,'Validation:',test_index)
  X1_train,X1_test=X.iloc[train_index],X.iloc[test_index]
  y1_train,y1_test=y.iloc[train_index],y.iloc[test_index]

  linreg.fit(X1_train,y1_train)
  prediction=linreg.predict(X1_test)
  rmse=np.sqrt(mean_squared_error(y1_test,prediction))
  score=max(0,1-rmse)
  accuracy.append(score)
  break
print(accuracy)

Train: [2334 2335 2336 ... 6997 6998 6999] Validation: [   0    1    2 ... 2331 2332 2333]
[0.8227394875708277]

In [ ]:
accuracy=np.array(accuracy)
accuracy.max()

0.8227394875708277

#VOTING REGRESSOR

In [ ]:
vr=VotingRegressor(estimators=[('xg',xg),('sr',sr)],weights=[0.6,0.4])

In [ ]:
vr.fit(X_train,y_train)

[12:51:55] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

VotingRegressor(estimators=[('xg',
                             XGBRegressor(base_score=0.5, booster='dart',
                                          colsample_bylevel=1,
                                          colsample_bynode=1,
                                          colsample_bytree=0.8, gamma=0.5,
                                          importance_type='gain',
                                          learning_rate=0.05, max_delta_step=0,
                                          max_depth=1, min_child_weight=6,
                                          missing=None, n_estimators=80,
                                          n_jobs=1, nthread=None,
                                          objective='reg:linear',
                                          random_state=0, reg_alpha=0,
                                          reg_lambda=1...
                                                                             learning_rate=0.01,
                                                                             max_delta_step=4,
                                                                             max_depth=2,
                                                                             min_child_samples=20,
                                                                             min_child_weight=6,
                                                                             min_split_gain=0.0,
                                                                             n_estimators=50,
                                                                             n_jobs=-1,
                                                                             num_leaves=64,
                                                                             objective=None,
                                                                             random_state=None,
                                                                             reg_alpha=0.0,
                                                                             reg_lambda=0.0,
                                                                             silent=True,
                                                                             subsample=1.0,
                                                                             subsample_for_bin=200000,
                                                                             subsample_freq=0),
                                               n_jobs=-1, passthrough=False,
                                               verbose=20))],
                n_jobs=None, weights=[0.6, 0.4])

In [ ]:
y_pred11=vr.predict(X_test)

In [ ]:
rmse=np.sqrt(mean_squared_error(y_test,y_pred11))

In [ ]:
score=max(0,1-rmse)

In [ ]:
score

0.8224685029044455

#RIDGE REGRESSOR

In [ ]:
rid=RidgeCV()

In [ ]:
rid.fit(X_train,y_train)

RidgeCV(alphas=array([ 0.1,  1. , 10. ]), cv=None, fit_intercept=True,
        gcv_mode=None, normalize=False, scoring=None, store_cv_values=False)

In [ ]:
y_pred14=rid.predict(X_test)

In [ ]:
rmse=np.sqrt(mean_squared_error(y_test,y_pred14))

In [ ]:
score=max(0,1-rmse)

In [ ]:
score

0.8225815466244418

KFOLD

In [ ]:
accuracy=[]
i=0
 
kf=KFold(3,random_state=None)
kf.get_n_splits(X,y)
 
for train_index,test_index in kf.split(X,y):
  print('Train:',train_index,'Validation:',test_index)
  X1_train,X1_test=X.iloc[train_index],X.iloc[test_index]
  y1_train,y1_test=y.iloc[train_index],y.iloc[test_index]
 
  rid.fit(X1_train,y1_train)
  prediction=rid.predict(X1_test)
  rmse=np.sqrt(mean_squared_error(y1_test,prediction))
  score=max(0,1-rmse)
  accuracy.append(score)
  break
print(accuracy)

Train: [2334 2335 2336 ... 6997 6998 6999] Validation: [   0    1    2 ... 2331 2332 2333]
[0.8227401374586027]

In [ ]:
np.array(accuracy).max()

0.8227401374586027

#ELASTICNET REGRESSOR

In [ ]:
enr=ElasticNetCV()

In [ ]:
enr.fit(X_train,y_train)

ElasticNetCV(alphas=None, copy_X=True, cv=None, eps=0.001, fit_intercept=True,
             l1_ratio=0.5, max_iter=1000, n_alphas=100, n_jobs=None,
             normalize=False, positive=False, precompute='auto',
             random_state=None, selection='cyclic', tol=0.0001, verbose=0)

In [ ]:
y_pred15=enr.predict(X_test)

In [ ]:
rmse=np.sqrt(mean_squared_error(y_test,y_pred15))

In [ ]:
score=max(0,1-rmse)

In [ ]:
score

0.8226319645140684

KFOLD

In [ ]:
accuracy=[]
i=0

kf=KFold(3,random_state=None)
kf.get_n_splits(X,y)

for train_index,test_index in kf.split(X,y):
  print('Train:',train_index,'Validation:',test_index)
  X1_train,X1_test=X.iloc[train_index],X.iloc[test_index]
  y1_train,y1_test=y.iloc[train_index],y.iloc[test_index]

  enr.fit(X1_train,y1_train)
  prediction=enr.predict(X1_test)
  rmse=np.sqrt(mean_squared_error(y1_test,prediction))
  score=max(0,1-rmse)
  accuracy.append(score)
  break
print(accuracy)

Train: [2334 2335 2336 ... 6997 6998 6999] Validation: [   0    1    2 ... 2331 2332 2333]
[0.8228205961687994]

In [ ]:
np.array(accuracy).max()

0.8228205961687994

#HUBER REGRESSOR

In [ ]:
hbr=HuberRegressor()

In [ ]:
hbr.fit(X_train,y_train)

HuberRegressor(alpha=0.0001, epsilon=1.35, fit_intercept=True, max_iter=100,
               tol=1e-05, warm_start=False)

In [ ]:
y_pred16=hbr.predict(X_test)

In [ ]:
rmse=np.sqrt(mean_squared_error(y_test,y_pred16))

In [ ]:
score=max(0,1-rmse)

In [ ]:
score

0.818930712651879

KFOLD

In [ ]:
accuracy=[]
i=0

kf=KFold(3,random_state=None)
kf.get_n_splits(X,y)

for train_index,test_index in kf.split(X,y):
  print('Train:',train_index,'Validation:',test_index)
  X1_train,X1_test=X.iloc[train_index],X.iloc[test_index]
  y1_train,y1_test=y.iloc[train_index],y.iloc[test_index]

  hbr.fit(X1_train,y1_train)
  prediction=hbr.predict(X1_test)
  rmse=np.sqrt(mean_squared_error(y1_test,prediction))
  score=max(0,1-rmse)
  accuracy.append(score)
  break
print(accuracy)

Train: [2334 2335 2336 ... 6997 6998 6999] Validation: [   0    1    2 ... 2331 2332 2333]
[0.819178241606529]

In [ ]:
np.array(accuracy).max()

0.819178241606529

#ACTUAL DATA

In [ ]:
X_train=X
y_train=y

In [ ]:
X_test=test.drop(['Employee_ID','Single','M','Travel_Rate','Franklin','Lebanon','Springfield','Washington','Work_Life_balance','Education_Level','Human Resource Management', 'IT', 'Logistics', 'Marketing',
       'Operarions', 'Production', 'Purchasing', 'Quality', 'R&D', 'Sales','Security', 'Behavioral', 'Conceptual', 'Directive','Compensation_and_Benefits','Post_Level','Education_Level','VAR1','VAR2','VAR3','VAR5','VAR6','VAR7','Age'],axis=1)

In [ ]:
linreg.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
y_pred=linreg.predict(X_test)

In [ ]:
y_pred

array([0.19961338, 0.19862902, 0.18138431, ..., 0.17696116, 0.17661288,
       0.20183238])

#SUBMISSION

In [ ]:
submission=pd.DataFrame({'Employee_ID':test['Employee_ID'],'Attrition_rate':y_pred})

In [ ]:
submission

     Employee_ID  Attrition_rate
0      EID_22713        0.199613
1       EID_9658        0.198629
2      EID_22203        0.181384
3       EID_7652        0.200417
4       EID_6516        0.205101
...          ...             ...
2995   EID_22547        0.202988
2996   EID_10066        0.182523
2997    EID_7126        0.176961
2998    EID_4929        0.176613
2999   EID_24750        0.201832

[3000 rows x 2 columns]

In [ ]:
from google.colab import drive
drive.mount('drive')

Drive already mounted at drive; to attempt to forcibly remount, call drive.mount("drive", force_remount=True).

In [ ]:
submission.to_csv('submission.csv',index=False)
!cp submission.csv "drive/My Drive/"