<a href="https://colab.research.google.com/github/Puneet289/Employee-attrition/blob/master/financialrisk.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
train=pd.read_csv('/content/drive/My Drive/Datasets/Financial_Risk_Participants_Data/Train.csv')

In [ ]:
test=pd.read_csv('/content/drive/My Drive/Datasets/Financial_Risk_Participants_Data/Test.csv')

In [ ]:
train.head()

   City  Location_Score  ...  Past_Results  IsUnderRisk
0     2           8.032  ...             0            1
1    31          77.730  ...             1            0
2    40          59.203  ...             0            1
3    12          73.080  ...             0            0
4     4          15.666  ...             2            1

[5 rows x 8 columns]

In [ ]:
test.head()

   City  Location_Score  ...  Loss_score  Past_Results
0    41          18.272  ...           7             0
1    17          64.799  ...           4             1
2    31          68.890  ...           8             0
3     3          16.492  ...           4             1
4     9          17.178  ...           3             1

[5 rows x 7 columns]

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 543 entries, 0 to 542
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   City                  543 non-null    int64
 1   Location_Score        543 non-null    float64
 2   Internal_Audit_Score  543 non-null    int64
 3   External_Audit_Score  543 non-null    int64
 4   Fin_Score             543 non-null    int64
 5   Loss_score            543 non-null    int64
 6   Past_Results          543 non-null    int64
 7   IsUnderRisk           543 non-null    int64
dtypes: float64(1), int64(7)
memory usage: 34.1 KB

In [ ]:
train.describe()

             City  Location_Score  ...  Past_Results  IsUnderRisk
count  543.000000      543.000000  ...    543.000000   543.000000
mean    19.576427       32.259346  ...      0.613260     0.626151
std     14.722687       24.887291  ...      0.764509     0.484270
min      0.000000        5.185000  ...      0.000000     0.000000
25%      6.000000       13.565000  ...      0.000000     0.000000
50%     14.000000       19.803000  ...      1.000000     1.000000
75%     37.000000       62.594000  ...      1.000000     1.000000
max     44.000000       80.809000  ...     10.000000     1.000000

[8 rows x 8 columns]

In [ ]:
train.corr()

                          City  Location_Score  ...  Past_Results  IsUnderRisk
City                  1.000000        0.012551  ...      0.004762    -0.087463
Location_Score        0.012551        1.000000  ...     -0.074364    -0.423956
Internal_Audit_Score -0.024306       -0.358629  ...      0.112093     0.586097
External_Audit_Score -0.049994       -0.205775  ...      0.141163     0.435619
Fin_Score            -0.051779       -0.264536  ...      0.138111     0.362463
Loss_score            0.033183       -0.042139  ...      0.081858     0.044888
Past_Results          0.004762       -0.074364  ...      1.000000     0.102120
IsUnderRisk          -0.087463       -0.423956  ...      0.102120     1.000000

[8 rows x 8 columns]

In [ ]:
train.corr()['IsUnderRisk'].sort_values()

Location_Score         -0.423956
City                   -0.087463
Loss_score              0.044888
Past_Results            0.102120
Fin_Score               0.362463
External_Audit_Score    0.435619
Internal_Audit_Score    0.586097
IsUnderRisk             1.000000
Name: IsUnderRisk, dtype: float64

In [ ]:
X=train.drop('IsUnderRisk',axis=1)
y=train['IsUnderRisk']

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=101)

#IMPORTS

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
from sklearn.metrics import log_loss

In [ ]:
from sklearn.model_selection import RandomizedSearchCV

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
from sklearn.ensemble import RandomForestClassifier,AdaBoostClassifier,BaggingClassifier
import xgboost as xg

#LOGISTIC REGRESSION

In [ ]:
log=LogisticRegression()

In [ ]:
log.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
pred1=log.predict_proba(X_test)

In [ ]:
print(log_loss(y_test,pred1))

0.34671255098216414

#RANDOM FOREST

In [ ]:
rfc=RandomForestClassifier(100)

In [ ]:
rfc.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
pred3=rfc.predict_proba(X_test)

In [ ]:
log_loss(y_test,pred3)

0.2799748713776273

#ADABOOST

In [ ]:
adb=AdaBoostClassifier()

In [ ]:
adb.fit(X_train,y_train)

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None, learning_rate=1.0,
                   n_estimators=50, random_state=None)

In [ ]:
pred4=adb.predict_proba(X_test)

In [ ]:
log_loss(y_test,pred4)

0.4474926983500348

#BAGGING

In [ ]:
bgc=BaggingClassifier()

In [ ]:
bgc.fit(X_train,y_train)

BaggingClassifier(base_estimator=None, bootstrap=True, bootstrap_features=False,
                  max_features=1.0, max_samples=1.0, n_estimators=10,
                  n_jobs=None, oob_score=False, random_state=None, verbose=0,
                  warm_start=False)

In [ ]:
pred5=bgc.predict_proba(X_test)

In [ ]:
log_loss(y_test,pred5)

0.6660626496781836

#XGBOOST

In [ ]:
xgc=xg.XGBClassifier()

In [ ]:
xgc.fit(X_train,y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [ ]:
pred6=xgc.predict_proba(X_test)

In [ ]:
log_loss(y_test,pred6)

0.26491380622039085

#ACTUAL DATA AND SUBMISSION

In [ ]:
X_train=X.copy()
y_train=y.copy()

In [ ]:
X_test=test

In [ ]:
pred3=xgc.predict_proba(X_test)

In [ ]:
len(pred3)

233

In [ ]:
arr_0=[]
arr_1=[]
for i in range(0,233):
  arr_0.append(pred3[i][0])
  arr_1.append(pred3[i][1])

In [ ]:
submission=pd.DataFrame({'0':arr_0,'1':arr_1})

In [ ]:
submission

            0         1
0    0.003042  0.996958
1    0.064366  0.935634
2    0.903662  0.096338
3    0.001735  0.998265
4    0.259029  0.740971
..        ...       ...
228  0.944326  0.055674
229  0.253423  0.746577
230  0.438655  0.561345
231  0.001122  0.998878
232  0.762891  0.237109

[233 rows x 2 columns]

In [ ]:
submission.to_excel('predict.xls',index=False)
!cp predict.xls "drive/My Drive/"

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233 entries, 0 to 232
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   City                  233 non-null    int64
 1   Location_Score        233 non-null    float64
 2   Internal_Audit_Score  233 non-null    int64
 3   External_Audit_Score  233 non-null    int64
 4   Fin_Score             233 non-null    int64
 5   Loss_score            233 non-null    int64
 6   Past_Results          233 non-null    int64
dtypes: float64(1), int64(6)
memory usage: 12.9 KB